footer
  .footer
    margin: 0 auto
    text-align: center
    padding: 30px 0 1px
    background-color: #ccc
    color: #000
    .title
      font-size: 24px
      line-height: 24px
      margin-bottom: 10px
      letter-spacing: 0
      color: #000
    .sub-title
      font-size: 14px
      line-height: 14px
      font-style: italic
      letter-spacing: 14px
      margin-left: 14px
    ul
      font: 12px "Roboto",sans-serif
      text-align: center
      display: block
      margin-bottom: 0
      line-height: 35px
      li
        display: inline-block
        margin: 0 5px
        a
          color: #000
          &:hover
            color: #000
    a
      color: #000
      &:hover
        color: #000
    .footer-social
      padding-left: 0
      img
        width: 27px
    .company-info
      padding: 15px 0
      p
        margin: 0
        padding-bottom: 0
        strong
          font-weight: bold
    p
      color: #000
    .copyright
      border-top: 1px solid rgba(255, 255, 255, 0.1)
      > p
        margin-bottom: 20px
        padding-top: 30px
        min-height: 33px

    .footer-information
      p
        i.fa-facebook
          font-size: 40px
          color: #29487d
        i.fa-youtube
          font-size: 40px
          color: red
        &:last-of-type
          margin-bottom: 0

@media (max-width: 767px)
  footer .footer ul
    padding: 0